html {
  height: 100%;
  overflow-y: auto;
}
body {
  height: 100%;
  background-color: #15202B;
}
body:after{
  content: "testing";
  position: fixed;
  width: 260px;
  height: 25px;
  background: plum;
  opacity: 0.95;
  top: 38px;
  right: -78px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(45deg);
  z-index: 100;
  box-shadow: 2px 2px 5px #717171;
}

#mainContainer {
  height: calc(100% - 48px);
  min-height: 750px;
}

#mainContainer.webotsView {
  min-height: 10px;
}

div.table-container {
  min-height: 532px;
}

body footer.footer {
  height: 48px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  background: linear-gradient(0deg, rgb(25, 39, 52) 0%, rgb(15, 25, 35) 90%);
}

body footer .has-text-centered {
  width:100%;
}

#navbar {
  background-color: #22303c;
}

#tab-content section {
  display: none;
}

#tab-content section.is-active {
  display: block;
}

.panel-tabs > a {
  user-select: none;
}

#webotsViewContainer {
  height: 100%;
  max-width: none;
}

nav.pagination > a[disabled] {
  background-color: #fff;
  border-color:#dbdbdb;
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (max-width: 500px) {
  .panel-tabs > a {
    font-size: 12px;
    padding: 0.3em;
  }
}

.synchronizable-icon {
  margin-top: 7px;
  color: #22303C;
}

.synchronizable-icon:hover {
  color: #8899A6;
}