html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-x pan-y;
}

.scrollable-body {
  height: calc(100% - 3.25rem);
  width: 100vw;
  min-width: 325px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 3.25rem;
  left: 0;
}

/*  Main Container  */

#main-container {
  min-height: calc(100vh - 100px);
}

#main-container.webotsView {
  height: calc(100% - 48px);
  min-height: 10px;
}

div.table-container {
  min-height: 550px;
}

.column-title {
  user-select: none;
}

.fa-sort-down {
  color: grey;
  position: absolute;
  padding-left: 6px;
  top: 60px;
}

.fa-sort-up {
  color: grey;
  position: absolute;
  padding-left: 6px;
  top: 67px;
}

/*  Footer  */

.footer {
  height: 48px;
  width: 100%;
  z-index: 30;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  background: linear-gradient(0deg, #003d66 0%, #007acc 70%);
  position: relative;
}

#footer-github {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.footer-right {
  position: absolute;
  right: 15px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#footer-cyberbotics {
  margin: 6px 0 0 0;
  position: relative;
  order: 1;
}

#footer-terms-of-service {
  margin: 6px 0 0 0;
  position: relative;
  order: 2;
}

#footer-privacy-policy {
  margin: 6px 0 0 0;
  position: relative;
  order: 3;
}

@media only screen and (max-width: 490px) {
  #footer-github {
    display: none;
  }

  .footer-right {
    right: 0;
    margin: 0 50px;
    width: calc(100% - 100px);
  }

  #footer-cyberbotics {
    order: 2;
  }
  
  #footer-terms-of-service {
    order: 1;
  }
  
  #footer-privacy-policy {
    order: 3;
  }
}

/*  Navbar  */

#navbar {
  background-color: #007acc;
  box-shadow: 0 -15px 15px 15px rgba(0, 0, 0, 0.4);
}

.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0);
}

#sign-up:hover {
  background-color: #3abb67
}

#log-in:hover {
  background-color: #d9d9d9;
}

#email {
  pointer-events: none;
}

/*  Tabs  */

#tabs {
  margin-bottom: -10px;
}

#tab-content section {
  display: none;
}

#tab-content section.is-active {
  display: block;
}

.tabs > li {
  user-select: none;
}

.tabs a:hover {
  border-bottom-color: transparent;
  color: #007acc;
}

.tabs li.is-active a {
  border-color: #007acc;
  color: #007acc;
}

.tabs.is-small-medium {
  font-size: 0.875rem;
}

@media only screen and (max-width: 500px) {
  .panel-tabs > a {
    font-size: 12px;
    padding: 0.3em;
  }
}

/*  Webots view  */

#webots-view-container {
  height: 100%;
  max-width: none;
}

/*  Pagination  */

nav.pagination > a[disabled] {
  background-color: #fff;
  border-color:#dbdbdb;
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-link.is-current {
  background-color: #007acc;
  border: none;
}

/*  Modals */

.modal-card {
  max-width: calc(100vw - 40px);
}

/* Thumbnails */

.container {
  position: relative;
}

.table-container {
  position: relative;
  overflow: visible;
  overflow-x: unset;
  z-index: 2;
}

.table-url {
  padding-bottom: 10px;
}

.thumbnail {
  display: auto;
  opacity: 0;
  position: relative;
  pointer-events: none;
  transform: scale(1);
}

.thumbnail-container {
  position: absolute;
  top: 5px;
  left: 120px;
  height: 180px;
  width: 640px;
  background: rgba(38, 38, 38, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  display: flex;
  overflow: hidden;
}

.thumbnail-image {
  height: 180px;
  width: 320px;
  object-fit: cover;
  box-shadow: 0 0 10px black;
  z-index: 2;
}

.thumbnail-description {
  position: relative;
  height: 100%;
  color: white;
  padding: 10px;
  font-size: small;
  overflow: hidden;
  margin: auto;
}

.thumbnail-description-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(38, 38, 38, 0) 80%, rgba(38, 38, 38, 1) 95%);
  z-index: 1;
}

.table-title:hover ~ .thumbnail {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.5s;
}

@media screen and (max-width: 850px) {
  .thumbnail-container {
    left: 40px;
    height: 144px;
    width: 512px;
  }

  .thumbnail-image {
    height: 144px;
    width: 256px;
  }
}

@media screen and (max-width: 656px) {
  .thumbnail-container {
    width: 420px;
  }
}

@media screen and (max-width: 565px) {
  .thumbnail {
    display: none;
  }

  .table-container {
    overflow: auto;
    overflow-x: auto;
  }
}

/* My Projects Tiles*/

div.table-container .my-projects-table {
  min-height: 400px;
}

@media screen and (min-width: 950px) {
  .tile:not(.is-child) {
      display: flex;
  }

  .tile.is-7 {
    flex: none;
    width: 66.66667%;
  }
}

@media screen and (max-width: 949px) {
  .tile:not(.is-child) {
      display: block;
  }

  .tile.is-7 {
    flex: none;
    width: 100%;
  }
}
